fastapi
uvicorn[standard]
python-dotenv
langchain
langgraph
langchain-core

langchain[openai]
langchain[anthropic]
langchain[google-genai]

httpx
pydantic

# AWS
boto3>=1.26.0

# Testing
pytest
pytest-cov
