fastapi
uvicorn[standard]
python-dotenv
langchain
langgraph
langchain-core

langchain[openai]
langchain[anthropic]
langchain[google-genai]

# MCP client
langchain-mcp-adapters

# Network
httpx
pydantic

# Image processing
Pillow>=10.0.0

# AWS
boto3>=1.26.0

# Metrics
prometheus-fastapi-instrumentator>=6.0.0
prometheus-client

# Testing
pytest
pytest-cov
langchain-aws
