# Database Configuration
DB_BACKEND=sqlite
DB_USER=user
DB_PASSWORD=pass
DB_HOST=localhost
DB_PORT=5432
DB_NAME=predictions

# Confidence Threshold for object detection (0.0 - 1.0)
CONFIDENCE_THRESHOLD=0.5

# AWS S3 Configuration
AWS_REGION=us-east-1
AWS_S3_BUCKET=my-bucket
